*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: #081b31;
    color: white;
    height:100px;
    text-align: center;
    line-height: 100px;
}
.choice{
    height: 170px;
    width: 171px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 3%;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    border-radius: 50%;
    
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 7rem;
}
#u-score,#comp-score{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
}
div{
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.msg{
    margin-top: 5rem;
}
#msg{
    padding: 0.5rem;
    background-color: rgb(8, 27, 49);
    font-size: 3rem;
    border-radius: 1rem;
}